*{
    padding: 0;
    margin: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
  }
  
  body{
      font-family: montserrat;
      color: #ededed;
  }
  
  nav{
      background: #8e6fa7;
      height: 80px;
      width: 100%;
  }
  
  label.logo{
      color: white;
      font-size: 35px;
      line-height: 80px;
      padding: 0 100px;
      font-weight: bold;
  }
  
  nav ul{
      float: right;
      margin-right: 80px;
  }
  
  nav ul li{
      display: inline-block;
      line-height: 80px;
      margin: 0 5px;
  }
  
  nav ul li a{
      color: white;
      font-size: 18px;
      text-transform: uppercase;
      padding:0px 18px;
  }
  
  a.active,a:hover{
      background: #ee7600;
      transition: .5s;
  }
  
  .checkbtn{
      font-size: 30px;
      color: white;
      float: right;
      line-height: 80px;
      margin-right: 40px;
      cursor: pointer;
      display: none;
  }
  
  #check{
      display: none;
  }
  
  @media (ma-width: 952px) {
      label.logo {
          font-size: 30px;
          padding-left: 50px;
      }
      nav ul li a {
          font-size: 16px;
      }
  }
  
  .content-items{
      width: 100vm;
      height: 100vh;
      align-items: center;
      position: relative;
      background-image: url('images/pic.jpg');
      background-size: cover;
  }
  
  .overlay{
      width: 100%;
      height: 100%;
      font-size: 20px;
      display: flex;
      flex-direction: column;
      color: white;
      justify-content: center;
      flex-direction: column;
      align-items: center;
      background-color: rgba(0,0,0,0.5);
  }
  
  button {
      width: 200px;
      padding: 15px 0;
      text-align: center;
      margin: 20px 10px;
      border-radius: 25px;
      font-weight: bold;
      border: 3px solid  #e4dde9;
      background: transparent;
      color: #fff;
      cursor: pointer;
      position: relative;
      overflow: hidden;
  }
  
  button.active,button:hover{
      background: #ee7600;
      transition: .5s;
  }

  .home{
       display: flex;
       align-item: center;
  }